@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700&display=swap');

* {
    font-family: 'Noto Sans HK', sans-serif;
}

html, body, #root {
    height: 100%;
}

.main {
    min-height: 100%; 
    display: flex;
    align-items: center;
}

.title {
    margin: 5px auto 0px;
}

.page-item.active .page-link {
    background-color: rgb(69, 77, 85);
    border-color: rgb(69, 77, 85);
}

.page-link {
    color: rgb(69, 77, 85);
}

.page-link:hover {
    color: rgb(69, 77, 85);
}

.dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.dropdown-menu::-webkit-scrollbar {
    width: 10px;
  }
  .dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  .dropdown-menu::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .pagination{
    flex-wrap: wrap;
  }